<ion-content>
	<div class="header_bg">
		<div class="per_holder">
			<div class="per per_pad">
				<div class="per_tu">
					<!-- <ion-img src="http://newmeizu.feeyr.com/img/per_img.png"></ion-img> -->
					<ion-img [src]="avatar"></ion-img>
				</div>
				<div class="per_word">
					<ion-text class="per_w01">{{nick}}</ion-text>
					<ion-text class="per_w02">ID：meizhu_{{id}}</ion-text>
				</div>
			</div>
			<div class="per_tip">
				<ion-text><i class="iconfont icon-huiyuan"></i>到期时间：{{vip}}</ion-text>
				<div class="per_btn">开通</div>
			</div>
			<ion-grid class="popularize">
				<ion-row>
					<ion-col class="popular" size="3">
						<ion-text>0</ion-text>
						<ion-text>推广人数</ion-text>
					</ion-col>
					<ion-col class="popular" size="3">
						<ion-text>0</ion-text>
						<ion-text>累计收益</ion-text>
					</ion-col>
					<ion-col class="popular" size="3">
						<ion-text>0</ion-text>
						<ion-text>今日金币</ion-text>
					</ion-col>
					<ion-col class="popular" size="3">
						<ion-text>0</ion-text>
						<ion-text>剩余金币</ion-text>
					</ion-col>
				</ion-row>
			</ion-grid>
			<div class="per_icon">
				<i class="iconfont icon-qianjinxiayige"></i>
			</div>
		</div>
	</div>
	
	<ion-grid class="packing">
		<ion-row class="profit">
			<ion-col>
				<ion-img src="http://newmeizu.feeyr.com/img/profit_icon01.png"></ion-img>
				<ion-text>金币充值</ion-text>
			</ion-col>
			<ion-col>
				<ion-img src="http://newmeizu.feeyr.com/img/profit_icon04.png"></ion-img>
				<ion-text>金币兑换</ion-text>
			</ion-col>
			<ion-col>
				<ion-img src="http://newmeizu.feeyr.com/img/profit_icon02.png"></ion-img>
				<ion-text>推广赚钱</ion-text>
			</ion-col>
			<ion-col>
				<ion-img src="http://newmeizu.feeyr.com/img/profit_icon03.png"></ion-img>
				<ion-text>推广收益</ion-text>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<ion-grid class="packing">
		<ion-row class="per_banner">
			<ion-col size="12">
				<ion-img src="http://newmeizu.feeyr.com/img/hy_banner.png"></ion-img>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<ion-grid class="packing">
		<ion-row class="power">
			<ion-col size="4">
				<ion-img src="http://newmeizu.feeyr.com/img/per_icon01.png"></ion-img>
				<ion-text>我的购买</ion-text>
			</ion-col>
			<ion-col size="4">
				<ion-img src="http://newmeizu.feeyr.com/img/per_icon02.png"></ion-img>
				<ion-text>我的收藏</ion-text>
			</ion-col>
			<ion-col size="4">
				<ion-img src="http://newmeizu.feeyr.com/img/per_icon03.png"></ion-img>
				<ion-text>我的发布</ion-text>
			</ion-col>
			<ion-col size="4">
				<ion-img src="http://newmeizu.feeyr.com/img/per_icon04.png"></ion-img>
				<ion-text>帮助说明</ion-text>
			</ion-col>
			<ion-col size="4">
				<ion-img src="http://newmeizu.feeyr.com/img/per_icon05.png"></ion-img>
				<ion-text>联系客服</ion-text>
			</ion-col>
			<ion-col size="4">
				<ion-img src="http://newmeizu.feeyr.com/img/per_icon06.png"></ion-img>
				<ion-text>设置</ion-text>
			</ion-col>
		</ion-row>
	</ion-grid>
    
	<ion-grid class="packing interval">
		<ion-row class="per_banner">
			<ion-col size="12">
				<ion-img src="http://newmeizu.feeyr.com/img/ad_banner01.png"></ion-img>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>
